doc/s3api/rnc/lifecycle_configuration.rnc

include "common.rnc"

start =
  element LifecycleConfiguration {
    element Rule {
      element ID { xsd:string }? &
      element Prefix { xsd:string } &
      element Status { "Enabled" | "Disabled" } &
      element Transition { Transition }? &
      element Expiration { Expiration }?
    }+
  }

Expiration =
  element Days { xsd:int } |
  element Date { xsd:dateTime }

Transition =
  Expiration &
  element StorageClass { StorageClass }
