swift/common/middleware/s3api/schema/copy_part_result.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="CopyPartResult">
      <element name="LastModified">
        <data type="dateTime"/>
      </element>
      <element name="ETag">
        <data type="string"/>
      </element>
    </element>
  </start>
</grammar>
